* {
  color: #606266;
}

/* Navbar Starts */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0 2px 4px 0 #e4e7ed;
  padding: 0 32px;
  margin-bottom: 32px;
}

.navbar__title {
  font-size: 22px;
}

.navbar__links {
  width: 100%;
  display: flex;
}

.navbar__link {
  margin-left: 24px;
  text-decoration: none;
  font-size: 16px;
}

.navbar__link:hover {
  text-decoration: underline;
}
/* Navbar Ends */
/* Container Starts */
.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 6px 0 #dcdfe6;
  padding: 16px;
}
/* Container Ends */
/* Profile Starts */
.profile {
  display: flex;
}

.profile__image-container {
  width: 180px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 #606266;
  margin-right: 60px;
}

.profile__image {
  width: 100%;
  height: auto;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;
}

.profile__user-name {
  color: #303133;
  font-size: 24px;
}

.profile__user-email_bold {
  font-weight: 600;
}

.profile__user-phone_bold {
  font-weight: 600;
}
/* Profile Ends */
